$colorPrimaryPr10: #e8edfb;    
$colorPrimaryPr20: #d1dbf7;    
$colorPrimaryPr30: #bac8f3;    
$colorPrimaryPr40: #5d80e2;    
$colorPrimaryPr50: #2f5bda;    
/* baseline */
$colorPrimaryPr60: #1849d6;    
$colorPrimaryPr70: #1642c1;    
$colorPrimaryPr80: #0e2c80;    
$colorPrimaryPr90: #0a1d56;    
$colorPrimaryPr100: #071640;    
$colorPrimaryPr110: #050f2b;    
$colorSecondarySc10: #e6faf3;    
$colorSecondarySc20: #ccf5e6;    
$colorSecondarySc30: #b3f0da;    
$colorSecondarySc40: #4ddba8;    
$colorSecondarySc50: #1ad18f;    
$colorSecondarySc60: #00cc83;    
$colorSecondarySc70: #00b876;    
$colorSecondarySc80: #007a4f;    
$colorSecondarySc90: #005234;    
$colorSecondarySc100: #003d27;    
$colorSecondarySc110: #00291a;    
$colorSysOr10: #fff6ed;    
$colorSysOr20: #ffecdb;    
$colorSysOr30: #ffe3ca;    
$colorSysOr40: #ffbe82;    
$colorSysOr50: #ffab5f;    
$colorSysOr60: #ffa24d;    
$colorSysOr70: #e69245;    
$colorSysOr80: #99612e;    
$colorSysOr90: #66411f;    
$colorSysOr100: #4c3117;    
$colorSysOr110: #33200f;    
$colorSysRd10: #ffebeb;    
$colorSysRd20: #ffd7d7;    
$colorSysRd30: #ffc3c3;    
$colorSysRd40: #ff7272;    
$colorSysRd50: #ff4a4a;    
$colorSysRd60: #ff3636;    
$colorSysRd70: #e63131;    
$colorSysRd80: #992020;    
$colorSysRd90: #661616;    
$colorSysRd100: #4c1010;    
$colorSysRd110: #330b0b;    
$colorSysGr10: #e9f9ec;    
$colorSysGr20: #d2f2d9;    
$colorSysGr30: #bcecc6;    
$colorSysGr40: #62d27b;    
$colorSysGr50: #35c555;    
$colorSysGr60: #1fbe42;    
$colorSysGr70: #1cab3b;    
$colorSysGr80: #137228;    
$colorSysGr110: #06260d;    
$colorSysGr100: #093914;    
$colorNeutralNr10: #ffffff;    
$colorNeutralNr20: #fafafa;    
$colorNeutralNr30: #e9e9e9;    
$colorNeutralNr40: #d2d2d2;    
$colorNeutralNr50: #bcbcbc;    
$colorNeutralNr60: #a5a5a5;    
$colorNeutralNr70: #8f8f8f;    
$colorNeutralNr80: #797979;    
$colorNeutralNr90: #626262;    
$colorNeutralNr100: #4c4c4c;    
$colorNeutralNr110: #1f1f1f;    
$colorPrimarybtnDefault: #1849d6;    
$colorPrimarybtnDisabled: #d2d2d2;    
$colorPrimarybtnoutStroke: #1849d6;    
$colorPrimarybtnoutDefault: #ffffff;    
$colorPrimarybtnoutStrokedisable: #bcbcbc;    
$colorTextcolorDefault: #1f1f1f;    
$colorTextcolorSecdefault: #8f8f8f;    
$colorTextcolorDark: #050f2b;    
$colorTextcolorLight: #ffffff;    
$colorTextcolorPlaceholder: #bcbcbc;    
$colorTextcolorDisabled: #a5a5a5;    
$colorTextcolorPrimary: #1849d6;    
$colorTextcolorSecondary: #00cc83;    
$colorTextcolorDanger: #ff3636;    
$colorTextcolorWarning: #ffa24d;    
$colorTextcolorSuccess: #1fbe42;    
$colorTextcolorLink: #1849d6;    
$colorTextcolorLinkselected: #0a1d56;    
$colorTextcolorSecondaryselected: #005234;    
$colorBgcolorDark: #1f1f1f;    
$colorBgcolorLight: #ffffff;    
$colorBgcolorPlaceholder: #fafafa;    
$colorBgcolorDisabled: #e9e9e9;    
$colorBgcolorPrimary: #1849d6;    
$colorBgcolorPrimarydark: #0a1d56;    
$colorBgcolorLightprimary: #e8edfb;    
$colorBgcolorSecondary: #00cc83;    
$colorBgcolorLightsecondary: #e6faf3;    
$colorBgcolorOrange: #ffa24d;    
$colorBgcolorLightorange: #fff6ed;    
$colorBgcolorGreen: #1fbe42;    
$colorBgcolorLightgreen: #e9f9ec;    
$colorBgcolorRed: #ff3636;    
$colorBgcolorLightredd: #ffebeb;    
$colorBgcolorGrey: #d2d2d2;    
$colorBgcolorLightgrey: #fafafa;    
$colorIconcolorDefault: #797979;    
$colorIconcolorDark: #1f1f1f;    
$colorIconcolorLight: #ffffff;    
/* 
 */
$colorIconcolorPlaceholder: #bcbcbc;    
$colorIconcolorDisabled: #a5a5a5;    
$colorIconcolorLightprimary: #e8edfb;    
$colorIconcolorPrimary: #1849d6;    
$colorIconcolorPrimarydark: #0a1d56;    
$colorIconcolorLightsecondary: #e6faf3;    
$colorIconcolorSecondary: #00cc83;    
$colorIconcolorSecondarydark: #005234;    
$colorIconcolorRed: #ff3636;    
$colorIconcolorOrange: #ffa24d;    
$colorIconcolorGreen: #1fbe42;    
$colorIconcolorGrey: #a5a5a5;    
$colorStrokecolorDefault: #fafafa;    
$colorStrokecolorDark: #797979;    
$colorStrokecolorLight: #ffffff;    
$colorStrokecolorDisabled: #d2d2d2;    
$colorStrokecolorGrey: #797979;    
$colorStrokecolorLightgrey: #e9e9e9;    
$colorStrokecolorPrimary: #1849d6;    
$colorStrokecolorSecondary: #00cc83;    
$colorStrokecolorRed: #ff3636;    
$colorStrokecolorOrange: #ffa24d;    
$colorStrokecolorGreen: #1fbe42;    
