$measureSpacingXl: 4px;    
$measureSpacingXxl: 8px;    
/* main value */
$measureSpacingSpacingXxxs: 2px;    
$measureSpacingSpacingXxs: 4px;    
$measureSpacingSpacingXs: 6px;    
$measureSpacingSpacingSm: 8px;    
$measureSpacingSpacingSmd: 12px;    
$measureSpacingSpacingMd: 16px;    
$measureSpacingSpacingMdl: 20px;    
$measureSpacingSpacingLg: 24px;    
$measureSpacingSpacingXlg: 28px;    
$measureSpacingSpacingXl: 32px;    
$measureSpacingSpacingXxl: 36px;    
$measureSpacingSpacingXxxl: 40px;    
$measureSpacingSpacing4xl: 48px;    
$measureSpacingSpacing5xl: 64px;    
$measureSpacingSpacing6xl: 96px;    
$measureSpacingSpacing7xl: 128px;    
/* i.e button medium */
$measureSpacingButtonMedium: 1612px;    
$measureFontSizeFontsizeXxsm: 10px;    
$measureFontSizeFontsizeXsm: 12px;    
$measureFontSizeFontsizeSm: 14px;    
$measureFontSizeFontsizeMd: 16px;    
$measureFontSizeFontsizeLg: 18px;    
$measureFontSizeFontsizeXl: 20px;    
$measureFontSizeFontsizeXxl: 24px;    
$measureFontSizeFontsize3xl: 32px;    
$measureFontSizeFontsize4xl: 36px;    
$measureFontSizeFontsize5xl: 42px;    
$measureLineHeightLineheightsXxxsm: 12px;    
$measureLineHeightLineheightsXxsm: 14px;    
$measureLineHeightLineheightsXsm: 16px;    
$measureLineHeightLineheightsSm: 18px;    
$measureLineHeightLineheightsMd: 20px;    
$measureLineHeightLineheightsLg: 22px;    
$measureLineHeightLineheightsXl: 24px;    
$measureLineHeightLineheightsXxl: 26px;    
$measureLineHeightLineheights3xl: 28px;    
$measureLineHeightLineheights4xl: 30px;    
$measureLineHeightLineheights5xl: 36px;    
$measureLineHeightLineheights6xl: 42px;    
$measureLineHeightLineheights7xl: 48px;    
$measureLetterSpacingLetterspacingXxxsm: -0.4px;    
$measureLetterSpacingLetterspacingXxsm: -0.3px;    
$measureLetterSpacingLetterspacingXsm: -0.2px;    
$measureLetterSpacingLetterspacingSm: -0.1px;    
$measureLetterSpacingLetterspacingMd: 0px;    
$measureLetterSpacingLetterspacingLg: 0.1px;    
$measureLetterSpacingLetterspacingXl: 0.2px;    
$measureLetterSpacingLetterspacingXxl: 0.3px;    
$measureLetterSpacingLetterspacingXxxl: 0.4px;    
$measureBorderWidthStrokeSm: 1px;    
