
.typographyDisplayHuge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize5xl;
  line-height: $measureLineHeightLineheights7xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

.typographyDisplayLarge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize4xl;
  line-height: $measureLineHeightLineheights6xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

.typographyDisplaySmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize3xl;
  line-height: $measureLineHeightLineheights5xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

.typographyDisplayTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXxl;
  line-height: $measureLineHeightLineheights4xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

.typographyHeadingH1 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXxl;
  line-height: $measureLineHeightLineheights4xl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

.typographyHeadingH2 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXl;
  line-height: $measureLineHeightLineheights3xl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

.typographyHeadingH3 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXxl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

.typographyHeadingH4 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

.typographyHeadingH5 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

.typographyHeadingH6 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

/* For output or display data, label title.  */
.typographyBodyLargestrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
.typographyBodyLarge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For output or display data, label title.  */
.typographyBodyDefaultstrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsLg;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
.typographyBodyDefault 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsLg;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyBodySmallstrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
.typographyBodySmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyBodyTinystrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
.typographyBodyTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyParagraphLarge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXxl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyParagraphDefault 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyParagraphSmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsLg;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyParagraphTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyCaptionDefault 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyCaptionSmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsXsm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

.typographyCaptionTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXxsm;
  line-height: $measureLineHeightLineheightsXxxsm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyDisplayHuge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize5xl;
  line-height: $measureLineHeightLineheights7xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

@mixin typographyDisplayLarge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize4xl;
  line-height: $measureLineHeightLineheights6xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

@mixin typographyDisplaySmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsize3xl;
  line-height: $measureLineHeightLineheights5xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

@mixin typographyDisplayTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXxl;
  line-height: $measureLineHeightLineheights4xl;
  letter-spacing: $measureLetterSpacingLetterspacingXxsm;
  
  text-indent: 0px; 
}    

@mixin typographyHeadingH1 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXxl;
  line-height: $measureLineHeightLineheights4xl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

@mixin typographyHeadingH2 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXl;
  line-height: $measureLineHeightLineheights3xl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

@mixin typographyHeadingH3 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXxl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

@mixin typographyHeadingH4 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

@mixin typographyHeadingH5 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

@mixin typographyHeadingH6 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingXsm;
  
  text-indent: 0px; 
}    

/* For output or display data, label title.  */
@mixin typographyBodyLargestrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
@mixin typographyBodyLarge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For output or display data, label title.  */
@mixin typographyBodyDefaultstrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsLg;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
@mixin typographyBodyDefault 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsLg;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyBodySmallstrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
@mixin typographyBodySmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyBodyTinystrong 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

/* For input, i.e text field, dropdown, selection,  */
@mixin typographyBodyTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyParagraphLarge 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeLg;
  line-height: $measureLineHeightLineheightsXxl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyParagraphDefault 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeMd;
  line-height: $measureLineHeightLineheightsXl;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyParagraphSmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsLg;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyParagraphTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsSm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyCaptionDefault 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeSm;
  line-height: $measureLineHeightLineheightsMd;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyCaptionSmall 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXsm;
  line-height: $measureLineHeightLineheightsXsm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

@mixin typographyCaptionTiny 
{ 
  
  font-family: "{fontFamilies.inter}";
  font-style: normal;
  font-weight: 400;
  font-size: $measureFontSizeFontsizeXxsm;
  line-height: $measureLineHeightLineheightsXxxsm;
  letter-spacing: $measureLetterSpacingLetterspacingMd;
  
  text-indent: 0px; 
}    

